/* light */
:root {
  --dashboard-item: #000;
  --btn-click: #14214d;
  --public-box-shadow: #fff;
  --siderbar: #081028;
  --body: #081028;
  --bg-color: #fff;
  --color: #fff;
  --public-link: #081028;
  --list-top: #14214d;
  --deashboar-expense: #081028;
  --deashboar-incomes: #081028;
  --incomes-list: #0b1534;
  --btn-color: #fff;
  --public-title: #fff;
  --item-bottom: #2e4066;
  --burger: #fff;
  --list-top-color: #fff;
  --add-income: #000;
  --submit: #091028;
  --mode: #fff;
  transition: all 0.3s ease;
}
/* dark */

.dark-mode {
  --siderbar: #111827;
  --bg-color: #fff;
  --color: #000;
  --public-link: #009;
  --list-top: #f4f5f6;
  --deashboar-expense: linear-gradient(to right, #ff6b6b, #ff8787);
  --deashboar-incomes: linear-gradient(to right, #2ecc71, #27ae60);
  --incomes-list: #fff;
  --body: #f9f9fb;
  --public-title: #009;
  --item-bottom: rgba(214, 214, 214, 0.6);
  --burger: #000;
  --list-top-color: gray;
  --add-income: #009;
  --btn-color: #fff;
  --submit: #009;
  --public-box-shadow: transparent;
  --mode: #000;
  --btn-click: #374151;
  --dashboard-item: none;
}

body {
  font-family: sans-serif;
  background-color: var(--body);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.light-dark {
  font-size: 20px;
  color: var(--mode);
}
button {
  border: none;
  background-color: transparent;
}

input {
  border: none;
}

.container {
  max-width: 900px;
  padding: 0 20px;
  margin: 0 auto;
}

.sidebar__inner {
  left: 250px;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  z-index: 1;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--bg-color);
  box-shadow: 0 0 10px #0009;
}

.public-title {
  color: #009;
  font-size: 25px;
}

.public-link {
  background-color: var(--public-link);
  border: 1px solid var(--public-box-shadow);
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  transition: all 0.3s ease;
}

.login__inner {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  margin-top: 10px;
}

.email {
  padding: 10px 20px;
}

.password {
  padding: 10px 20px;
}

.input {
  padding: 10px 20px;
  outline: none;
}

.btn {
  background-color: #009;
  color: #fff;
  padding: 15px;
}

.page-title {
  font-size: 30px;
  color: var(--color);
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-list {
  font-size: 40px;
}

.public-div {
  display: flex;
  gap: 5px;
}
.item__span-top {
  color: var(--list-top-color);
}
.back {
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  position: absolute;
  bottom: 20px;
  right: 30px;
  background-color: #009;
  color: #fff;
  padding: 10px 0;
  max-width: 110px;
  border-radius: 5px;
  width: 100%;
}

.sidebar__list {
  margin-bottom: auto;
}

.hero__inner {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  height: 100vh;
}
.sidebar {
  position: fixed;
  width: 250px;
  background-color: var(--siderbar);
  box-shadow: 10px 0 15px rgba(0, 0, 0, 0.4);
  padding: 25px;
  height: 100%;
}
.hero__sidebar-div {
  margin-left: 250px;
}
.siderbar-title {
  color: #fff;
  margin-bottom: 30px;
  font-size: 30px;
}

.sidebar__item-div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar__item {
  position: relative;
}

.sidebar-btn {
  max-width: 1000px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px 10px 40px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 18px;
  align-items: center;
  color: var(--btn-color);
  transition: all 0.3s ease;
  background-color: var(--btn-bg);

  &:hover {
    background-color: var(--btn-click);
  }
}

.btncolor {
  background-color: var(--btn-click);
}

svg {
  position: absolute;
  top: 13px;
  left: 10px;
  color: #fff;
}

.hero__subtitle {
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: var(--public-title);
}

.incomes__list {
  margin-top: 20px;
  gap: 30px;
  background-color: var(--incomes-list);
  color: var(--color);
  padding: 20px;
  border-radius: 6px;
  max-width: 1150px;
  width: 95%;
  margin: 0 auto;
}

.item {
  position: relative;
  display: grid;
  grid-template-columns: 50px repeat(4, 1fr) 55px;
  align-items: center;
  padding: 25px 20px;
  border-bottom: 1px solid var(--item-bottom);
  color: var(--color);
}

.item-top {
  background-color: var(--list-top);
  border-radius: 8px;
  color: var(--color);
}

.btn-group {
  display: flex;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
}
.close-btn {
  color: var(--color);
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 30px;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 1001;
}

@keyframes rotation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.dark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 30px;
}

.back-link {
  font-size: 20px;
  color: var(--color);
}

.link {
  color: var(--color);
  font-size: 14px;
  text-decoration: underline;
}

.type {
  width: 130px;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
}

.span-activty {
  display: none;
}

.burger-btn {
  display: none;
}

.hero-top-div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.green {
  color: #fff;
  background-color: #23683f;
}

.red {
  color: #fff;
  background-color: #f11a22;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0009;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.modal-content {
  margin: 0 20px;
  display: none;
  max-width: 400px;
  width: 100%;
  background-color: var(--bg-color);
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.modal-subtitle {
  font-size: 18px;
  margin-bottom: 10px;
}

.modal-title {
  text-align: center;
  font-size: 20px;
}

.modal__btn-group {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  gap: 5px;
}

.close-modal {
  background-color: #0009;
  padding: 10px;
  border-radius: 5px;
  width: 80px;
  color: #fff;
}

.delete-modal {
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  width: 80px;
  color: #fff;
}

.modal-title-2 {
  color: darkgreen;
  font-size: 30px;
}

.btn-modal {
  background-color: #0009;
  padding: 10px;
  border-radius: 5px;
  width: 80px;
  color: #fff;
}

.logout-modal {
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  width: 80px;
  color: #fff;
}

.add-item {
  padding: 15px 0;
  width: 150px;
  background-color: #2ecc71;
  color: #fff;
  border-radius: 5px;
}

.add-expenses {
  background-color: red;
}

.list-top {
  margin: 0 auto;
  max-width: 1150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-incomes {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0009;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.add-incomes-content {
  margin: 0 20px;
  max-width: 455px;
  width: 100%;
  background-color: var(--bg-color);
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.form-input {
  width: 100%;
  padding: 14px 18px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: var(--bg-color);
  box-shadow: none;
  outline: none;
  margin-bottom: 10px;
}

.add-incomes-title {
  font-size: 30px;
}

.form-input:focus {
  box-shadow: 0 5px 10px 0 #0003;
}

.modal-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.incomes-close-btn-icon {
  width: 30px;
  height: 30px;
}

.submit {
  width: 100%;
  padding: 15px 0;
  box-shadow: 0 0 10px #fff;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  background-color: var(--submit);
}

.expenses-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0009;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.dashboard-title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
  color: var(--public-title);
}

.dashboard__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 0 20px;
}
.dashboard__list-2 {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 0 20px;
}

.dashboard__item {
  border-radius: 12px;
  padding: 40px 20px;
  text-align: center;
  box-shadow: 0px 0 10px var(--dashboard-item);

  transition: transform 0.2s ease;
  color: #fff;
}

.dashboard__item:nth-child(5) {
  width: 100%;
}

.add-incomes-title {
  color: var(--add-income);
}

.modal-top {
  margin-bottom: 10px;
}

.dashboard__item--expense {
  background: var(--deashboar-expense);
  color: white;
}

.dashboard__item--income {
  background: var(--deashboar-incomes);
  color: white;
}

.dashboard__label {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500;
}

.dashboard__value {
  font-size: 28px;
  font-weight: bold;
}

.dashboar-page-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: var(--color);
  padding-top: 30px;
  border-top: 1px solid #fff;
}
.sidebar {
  z-index: 9999;
}
.spans-burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.span-burger {
  display: inline-block;
  width: 20px;
  height: 1px;
  color: var(--color);
  border: 1px solid;
  border-radius: 10px;
}
.malumot-div {
  margin: 0 auto;
  position: relative;
  background-color: green;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.malumot-div-span {
  position: absolute;
  top: 40px;
  left: 35px;
  display: inline-block;
  border: 6px solid #fff;
  width: 50px;
  height: 2px;
}

.malumot-div-span:nth-child(1) {
  transform: rotate(120deg);
}
.malumot-div-span:nth-child(2) {
  border: 6px solid #fff;
  width: 30px;
  transform: rotate(30deg) translateY(25px) translateX(-0.4px);
  /* background: ; */
}
@media (max-width: 1400px) {
  .list-top {
    /* border-top: 1px solid #fff; */
    margin: 0 20px 20px 20px;
    padding-top: 30px;
  }
}
@media (max-width: 1000px) {
  .sidebar {
    display: none;
  }
  .hero__sidebar-div {
    margin: 0;
  }

  .burger-btn {
    display: block;
  }
}
@media (max-width: 830px) {
  .back {
    position: static;
  }
  .list-top {
    margin: 0 20px 20px 20px;
  }

  .sidebar {
    width: 45%;
  }
  .hero__inner {
    grid-template-columns: 1fr;
  }
  .hero__subtitle {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .add-item {
    padding: 10px;
    width: 130px;
  }
  .span-activty {
    display: block;
  }
  .incomes__list {
    background-color: transparent;
    padding: 0;
    width: 87%;
  }
  .page-div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .item {
    display: block;
    padding: 17px;
    border: none;
    margin-bottom: 10px;
    box-shadow: 0 2px 2px #26222d05;
    border-radius: 6px;
    box-shadow: 0 0px 4px #fff;
  }
  .item-top {
    display: none;
  }
  .hero__subtitle {
    font-size: 20px;
    text-align: center;
    padding: 0;
    margin-bottom: 15px;
  }

  .id {
    border-bottom: 1px solid #dedee2;
  }
  .item__span {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 10px;
  }
  .item__p span,
  .item__p {
    display: inline-block;
    width: 100%;
  }
  .siderbar-title {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .btn-group {
    margin-top: 10px;
  }
  .btn-group {
    width: 100%;
    display: flex;
    gap: 12px;
  }
  .delete-icon {
    display: none;
  }
  .delete {
    width: 100%;
    border: 1px solid #c5c3c8;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    color: var(--color);
  }
  .delete::before {
    content: "✕";
  }
  .delete::after {
    content: "delete";
  }
  .edit {
    width: 100%;
    border: 1px solid #c5c3c8;
    display: flex;
    align-items: center;
    padding: 0 20px 0 10px;
    justify-content: space-between;
    border-radius: 8px;
  }
  .edit::after {
    content: "edit";
  }
  .delete-icon {
    width: 30px;
    height: 30px;
  }
  .edit-icon {
    width: 30px;
    height: 30px;
  }
  .sidebar {
    position: absolute;
    width: 60%;
  }
}

@media (max-width: 550px) {
  .dashboar-page-title {
    font-size: 25px;
  }
  .dashboard__list {
    display: grid;
    grid-template-columns: 1fr;
  }
  .dashboard__item {
    padding: 20px;
  }
  .sidebar__inner {
    padding: 10px;
  }
  .incomes__list {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .page-title {
    font-size: 25px;
  }
  .back {
    padding: 10px;
    font-size: 20px;
  }
  .log-out {
    padding: 10px 20px;
  }
  .modal-subtitle {
    font-size: 14px;
  }
  .modal-title {
    font-size: 19px;
  }
  .modal-content {
    padding: 22px 15px;
  }
  .modal__btn-group {
    margin-top: 10px;
  }
  .close-modal {
    padding: 6px;
    width: 50%;
  }
  .delete-modal {
    width: 50%;
    padding: 6px;
  }
  .incomes-modal-title {
    font-size: 20px;
  }

  .expenses-modal-content {
    width: 100%;
    margin: 0;
  }
  .expenses-modal {
    height: 100%;
    left: 0;
  }
  .add-incomes-content {
    border-radius: 0;
    margin: 0;
  }
  .add-incomes {
    align-items: stretch;
  }
}

@media (max-width: 350px) {
  .list-top {
    display: block;
  }
  .add-item {
    width: 100%;
  }
  .header__inner {
    flex-direction: column;
  }
  .public-div {
    width: 100%;
    margin-top: 10px;
  }
  .public-link {
    width: 100%;
  }
}

.block {
  display: block;
}

.flex {
  display: flex;
}
.red {
  background-color: red;
}

.red-total {
  background-color: red;
  color: #fff;
}
.green-total {
  background-color: rgba(0, 255, 0, 0.138);
  color: rgb(0, 200, 0);
}
.red-color {
  color: red;
}
.green-color {
  color: green;
}
